@font-face {
    font-family: 'JMH Typewriter';
    src: url('../fonts/JMHTypewriter-Regular.woff2') format('woff2'),
        url('../fonts/JMHTypewriter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: Tahoma, 'Segoe UI', JMH Typewriter, Geneva, Verdana, sans-serif;
}

.header {
    font-size: 11px;
}

.iconBar {
    color: #1a2434;
    transition: all 150ms linear 0s;
}

.iconBar:hover {
    color: #ff0000;
}

@media all and (max-width:849px) {
    .topBar {
        display: none;
        height: 0;
    }

    .topBarText {
        display: none;
        height: 0;
    }

    .topBarLink {
        display: none;
        height: 0;
    }

    .psgLogo {
        height: 42px;
        width: 42px;
    }

    .firstIconDisplay {
        display: none;
    }
}

@media all and (min-width:850px) {

    .topBar {
        display: block;
        background-color: #1a2434;
        height: 40px;
    }

    .topBarText {
        display: block;
        transition: all 150ms linear 0s;
    }

    .topBarText:hover {
        background-color: #49505c;
    }

    .topBarLink {
        display: block;
    }

    .psgLogo {
        height: 72px;
        width: 72px;
    }

    .firstIconDisplay {
        display: block;
    }

}

@media all and (max-width:1149px) {
    .navTextBarDisplay {
        display: none;
    }
}

@media all and (min-width:1150px) {
    .navTextBarDisplay {
        display: block;
    }

    .navTextBar {
        font-size: 15px;
    }

    .navTextBarContent::after {
        content: "";
        display: block;
        width: 100%;
        transition: all 500ms ease 0ms;
    }

    .navTextBarContent:hover::after {
        border-bottom: solid #cacccf 1px;
    }
}