@font-face {
    font-family: 'JMH Typewriter';
    src: url('../fonts/JMHTypewriter-Regular.woff2') format('woff2'),
        url('../fonts/JMHTypewriter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: Tahoma, 'Segoe UI', JMH Typewriter, Geneva, Verdana, sans-serif;
}

.header {
    font-size: 11px;
    position: relative;
    z-index: 1;
}

.iconBar {
    color: #1a2434;
    transition: all 150ms linear 0s;
}

.iconBar:hover {
    color: #ff0000;
}

.BannerDiv {
    width: 100%;
    height: 50%;
}

.BannerImg {
    width: 100%;
    margin-top: -8%;
    margin-bottom: -6%;
    position: relative;
    z-index: 0;
}

.listUnderBannerItems{
    color: black;
    transition:all 150ms linear 0ms;
}

.listUnderBannerItems:hover{
    color: #ff0000;
}

.listUnderBannerItems::after{
    content: "";
    display: block;
    transition: all 500ms ease 0ms;
}

.listUnderBannerItems:hover:after{
    border-bottom: solid #ff0000 2px;
    padding-bottom: 5px;
    color: #ff0000;
}

.formatImgPlayerList{
    height: 450px;
    background-color: #1a2434;
}

.backgroundImg1{
    background-image: url("../photos/card-season-22-23-rico.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg1:hover{
    filter: opacity(35%);
}

.backgroundImg2{
    background-image: url("../photos/card-season-22-23-letellier.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg2:hover{
    filter: opacity(35%);
}

.backgroundImg3{
    background-image: url("../photos/card-season-22-23-donnarumma.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg3:hover{
    filter: opacity(35%);
}

.backgroundImg4{
    background-image: url("../photos/card-season-22-23-hakimi.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg4:hover{
    filter: opacity(35%);
}

.backgroundImg5{
    background-image: url("../photos/card-season-22-23-kimpembe.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg5:hover{
    filter: opacity(35%);
}

.backgroundImg6{
    background-image: url("../photos/card-season-22-23-ramos.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg6:hover{
    filter: opacity(35%);
}

.backgroundImg7{
    background-image: url("../photos/card-season-22-23-marquinhos.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg7:hover{
    filter: opacity(35%);
}

.backgroundImg8{
    background-image: url("../photos/card-season-22-23-bernat.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg8:hover{
    filter: opacity(35%);
}

.backgroundImg9{
    background-image: url("../photos/card-season-22-23-mendes.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg9:hover{
    filter: opacity(35%);
}

.backgroundImg10{
    background-image: url("../photos/card-22-23_mukiele.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg10:hover{
    filter: opacity(35%);
}

.backgroundImg11{
    background-image: url("../photos/joueurs-22-23-pembele-v23.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg11:hover{
    filter: opacity(35%);
}

.backgroundImg12{
    background-image: url("../photos/card-season-22-23-verratti.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg12:hover{
    filter: opacity(35%);
}

.backgroundImg13{
    background-image: url("../photos/card-ruiz-22-23.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg13:hover{
    filter: opacity(35%);
}

.backgroundImg14{
    background-image: url("../photos/card-season-22-23-danilo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg14:hover{
    filter: opacity(35%);
}

.backgroundImg15{
    background-image: url("../photos/card-season-22-23-vitinha.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg15:hover{
    filter: opacity(35%);
}

.backgroundImg16{
    background-image: url("../photos/card-22-23_renato.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg16:hover{
    filter: opacity(35%);
}

.backgroundImg17{
    background-image: url("../photos/card-soler-22-23.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg17:hover{
    filter: opacity(35%);
}

.backgroundImg18{
    background-image: url("../photos/card-season-22-23-mbappe.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg18:hover{
    filter: opacity(35%);
}

.backgroundImg19{
    background-image: url("../photos/card-22-23_neymar.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg19:hover{
    filter: opacity(35%);
}

.backgroundImg20{
    background-image: url("../photos/card-season-22-23-messi.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg20:hover{
    filter: opacity(35%);
}

.backgroundImg21{
    background-image: url("../photos/card-22-23_ekitike.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg21:hover{
    filter: opacity(35%);
}

.backgroundImg22{
    background-image: url("../photos/card-22-23_bitshiabu.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg22:hover{
    filter: opacity(35%);
}

.backgroundImg23{
    background-image: url("../photos/card-22-23_0003_zaire-emery.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg23:hover{
    filter: opacity(35%);
}

.backgroundImg24{
    background-image: url("../photos/card-22-23_gharbi.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg24:hover{
    filter: opacity(35%);
}

.backgroundImg25{
    background-image: url("../photos/housni-temp.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg25:hover{
    filter: opacity(35%);
}

.backgroundImg26{
    background-image: url("../photos/card-22-23_lavallee.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    filter: brightness(85%);
    transition: all 400ms linear 0ms;
}

.backgroundImg26:hover{
    filter: opacity(35%);
}




@media all and (max-width:767px) {
    .filterRow{
        height: 122px;
        font-size: calc(8px + 0.6vw);
        background-color: #f4f4f4;
    }

    .filterRowBoxs{
        height: 39px;
        border-color: #f0f0f0;
    }

}

@media all and (min-width:767px) {
    .filterRow{
        height: 134px;
        font-size: calc(8px + 0.6vw);
        background-color: #f4f4f4;
    }

    .filterRowBoxs{
        height: 51px;
        border-color: #f0f0f0;
    }

}

@media all and (max-width:849px) {
    .topBar {
        display: none;
        height: 0;
    }

    .topBarText {
        display: none;
        height: 0;
    }

    .topBarLink {
        display: none;
        height: 0;
    }

    .psgLogo {
        height: 42px;
        width: 42px;
    }

    .firstIconDisplay {
        display: none;
    }

    .rowUnderBanner {
        font-size: calc(8px + 0.6vw);
        height: 69px;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }


}

@media all and (min-width:850px) {

    .topBar {
        display: block;
        background-color: #1a2434;
        height: 40px;
    }

    .topBarText {
        display: block;
        transition: all 150ms linear 0s;
    }

    .topBarText:hover {
        background-color: #49505c;
    }

    .topBarLink {
        display: block;
    }

    .psgLogo {
        height: 72px;
        width: 72px;
    }

    .firstIconDisplay {
        display: block;
    }

    .rowUnderBanner {
        font-size: calc(8px + 0.6vw);
        height: 89px;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }

}

@media all and (max-width:1149px) {
    .navTextBarDisplay {
        display: none;
    }
}

@media all and (min-width:1150px) {
    .navTextBarDisplay {
        display: block;
        height: 35px;
    }

    .navTextBar {
        font-size: 15px;
    }

    .navTextBarContent::after {
        content: "";
        display: block;
        width: 100%;
        transition: all 500ms ease 0ms;
    }

    .navTextBarContent:hover::after {
        border-bottom: solid #cacccf 1px;
    }
}